<!doctype html>
<html lang="en">
<head>
  <title>Flight Search :: Test Drive</title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="css/common.css"/>
  <script src="lib/ejs.min.js"></script>
  <style>
      textarea {
          height: 28ex;
      }

      #search-output {
          height: 10ex;
      }

      form {
          padding-bottom: 1em;
      }

      #search-output-table th {
          font-size: smaller;
          font-style: italic;
      }

      #search-output-table td {
          text-align: right;
      }

      #search-output-table td, #search-output-table th {
          text-align: right;
          padding-left: 10px;
          padding-right: 5px;
      }

      #search-output-table tr:nth-child(4), #search-output-table td:nth-child(5), #search-output-table th:nth-child(5) {
          background-color: #C7F6B6;
      }
  </style>
</head>

<body>
<h1>Flight search demo</h1>
<form action="">
  <label for="departure-airport">Travel from: </label>
  <select name="departure-airport" id="departure-airport">
    <options>
      <option value="BOS">Boston</option>
      <option value="LAX">Los Angeles</option>
      <option value="SFO">San Francisco</option>
      <option value="JFK">New York</option>
    </options>
  </select>
  <br>
  <label for="arrival-airport">Travel to: </label>
  <select name="arrival-airport" id="arrival-airport">
    <options>
      <option value="PNL">Pantelleria</option>
      <option value="FCO">Rome</option>
      <option value="JTR">Santorini</option>
      <option value="VCE">Venice</option>
    </options>
  </select>
  <br>
  <label for="departure-date">Travel date: </label>
  <select name="departure-date" id="departure-date">
    <options>
      <option value="7">Next Week</option>
      <option value="30">Next Month</option>
      <option value="90">Three months out</option>
      <option value="180">Six months out</option>
    </options>
  </select>
  <br>
  <label for="travel-duration">Duration (days)</label>
  <select name="travel-duration" id="travel-duration">
    <options>
      <option value="7">One Week</option>
      <option value="30">One Month</option>
      <option value="90">Three months</option>
    </options>
  </select>
  <br>
  <label for="travel-adults"># of adults (age 18+): </label>
  <select name="travel-adults" id="travel-adults">
    <options>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </options>
  </select>
  <br>
  <label for="travel-children"># of children (age 3-17): </label>
  <select name="travel-children" id="travel-children">
    <options>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </options>
  </select>
  <br>
  <label for="travel-infants"># of infants (age 0-2): </label>
  <select name="travel-infants" id="travel-infants">
    <options>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </options>
  </select>
</form>
<div>
  <textarea id="search-input"></textarea>
</div>

<div class="button">
  <button id="search-button">Search flights</button>
  <select id="search-method">
    <option>POST</option>
    <option>GET</option>
    <option>PUT</option>
    <option>DELETE</option>
  </select>
  <input id="search-path" type="text" value="/api/v1/flight-search" style="width: 27ex">
  <img src="images/spinner.gif" alt="" id="search-spinner" class="spinner">
</div>

<div>
  <textarea id="search-output" class="smaller-area"></textarea>
  <br>
  <div id="search-output-table"></div>
</div>

<script id="search-output-table-template" type="text/x-ejs-template">
  <table class="striped">
    <tr>
      <% for (let col=0; col< response.prices.length; col++) { %>
      <th><%= response.prices[0][col] %></th>
      <% } %>
    </tr>
    <% for (let row=1; row< response.prices.length; row++) { %>
    <tr>
      <th><%= response.prices[row][0] %></th>
      <% for (let col=1; col< response.prices.length; col++) { %>
      <td><%= response.prices[row][col] %></td>
      <% } %>
    </tr>
    <% } %>
  </table>
</script>

<script type="module">
    import { ajax, indent } from "./js/ajax-lib.js";

    document.addEventListener("DOMContentLoaded", async () => {
        document.getElementById("search-button").addEventListener("click", searchRequest);

        await ajax({
            spinnerId: "search-spinner",
            method: "GET",
            path: "test-data/flight-search-request.json",
            target: "search-input",
        });

        updateBothDates();
        updateDepartureAirport();
        updateArrivalAirport();
        onChange("departure-date", updateBothDates);
        onChange("travel-duration", updateBothDates);
        onChange("departure-airport", updateDepartureAirport);
        onChange("arrival-airport", updateArrivalAirport);
    });

    async function searchRequest() {
        // CHANGED HERE
        clearOutputTable();

        await ajax({
            spinnerId: "search-spinner",
            method: "search-method",
            path: "search-path",
            data: "search-input",
            target: "search-output",
            colorize: true,
        });

        // CHANGED HERE
        parseSearchOutput();
    }

    function onChange(elementId, action) {
        document.getElementById(elementId).addEventListener("change", action)
    }

    function updateBothDates() {
        const departureDateOffset = getValueAsInteger("departure-date");
        const duration = getValueAsInteger("travel-duration");
        const departureDate = todayPlus(departureDateOffset)
        const returnDate = todayPlus(departureDateOffset + duration);
        let searchInput = getValueAsObject("search-input");
        searchInput["departureDate"] = departureDate;
        searchInput["returnDate"] = returnDate;
        setJson("search-input", searchInput);
    }

    function updateDepartureAirport() {
        let searchInput = getValueAsObject("search-input");
        searchInput.departureAirport = getValue("departure-airport");
        setJson("search-input", searchInput);
    }

    function updateArrivalAirport() {
        let searchInput = getValueAsObject("search-input");
        searchInput.arrivalAirport = getValue("arrival-airport");
        setJson("search-input", searchInput);
    }

    function getValue(elementId) {
        return document.getElementById(elementId).value;
    }

    function getValueAsInteger(elementId) {
        return parseInt(getValue(elementId));
    }

    function getValueAsObject(elementId) {
        return JSON.parse(getValue(elementId));
    }

    function setJson(elementId, object) {
        const element = document.getElementById(elementId);
        return element.value = indent(object);
    }

    function todayPlus(offset) {
        const today = new Date();
        const date = new Date(today);
        date.setDate(today.getDate() + parseInt(offset));
        return date.toISOString().substring(0, 10);
    }

    function parseSearchOutput() {
        let source = document.getElementById("search-output-table-template").innerText;
        const template = ejs.compile(source);
        try {
            const response = getValueAsObject("search-output");
            const outputTable = document.getElementById("search-output-table");
            outputTable.innerHTML = template({response: response})
        } catch (exception) {
            clearOutputTable();
        }
    }

    function clearOutputTable() {
        document.getElementById("search-output-table").innerHTML = "";
    }
</script>

</body>
</html>
